<section class="py-5 text-center container">
    <div class="row py-lg-5" style="text-align: center;">
      <div class="col-lg-6 col-md-8 mx-auto" style="float: none;display: inline-block;">
        <h1 class="fw-light">Lista de contatos</h1>

        <a href="/contatos/new" class="btn btn-primary">Novo</a>
        
        <hr>

        <table class="table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
              <th>Observação</th>
              <th>Criado em</th>
              <th>Atualizado em</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <% @contatos.each do |contato| %>
              <tr>
                <td><%= contato.nome %></td>
                <td><%= contato.email %></td>
                <td><%= contato.observacao %></td>
                <td><%= contato.created_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
                <td><%= contato.updated_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
                <td>
                  <a href="<%= edit_contato_path(contato) %>" class="btn btn-warning btn-acoes">Editar</a>
                  <a href="#" onclick="excluir('<%= contato_path(contato) %>')" class="btn btn-danger btn-acoes">Excluir</a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
</section>