<%= form_for(@aluno, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @aluno.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@aluno.errors.count, "error") %> prohibited this aluno from being saved:</h4>

      <ul>
      <% @aluno.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :nome, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sobrenome, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :sobrenome, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :idade, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :idade, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :obs, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :obs, class: "form-control" %>
    </div>
  </div>

  <hr>
  <div style="text-align:right">
    <button type="button" onclick="AdicionarNota()">Adicionar Nota</button>
    <hr>

    <div id="campos-notas">
    </div>

    <div id="modelo-campos-notas" style="display:none">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="aluno_nota">Nota</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" name="aluno[nota]" id="aluno_nota">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="aluno_obs_nota">Obs Nota</label>
        <div class="col-sm-10">
          <textarea class="form-control" name="aluno[obs_nota]" id="aluno_obs_nota"></textarea>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<script>
const AdicionarNota = ()=> {
  let html = document.querySelector("#modelo-campos-notas").innerHTML;
  html = `<div>${html}</div>`
  document.querySelector("#campos-notas").innerHTML += html
}
</script>
