<div class="page-header">
  <%= link_to alunos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_aluno_path(@aluno), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show aluno</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @aluno.nome %></dd>

  <dt>Sobrenome:</dt>
  <dd><%= @aluno.sobrenome %></dd>

  <dt>Idade:</dt>
  <dd><%= @aluno.idade %></dd>

  <dt>Email:</dt>
  <dd><%= @aluno.email %></dd>

  <dt>Obs:</dt>
  <dd><%= @aluno.obs %></dd>

  <dt>Notas:</dt>
  <% if @aluno.notas_alunos.count > 0 %>
    <dd>
      <ul>
        <% @aluno.notas_alunos.each do |nota| %>
          <li>
            <b>Nota:</b> <%= nota.nota %><br>
            <b>Obs:</b> <%= nota.obs %>
          </li>
        <% end %>
      </ul>
    <dd>
  <% else %>
    <dd>
      O aluno não possui notas
    <dd>
  <% end %>
</dl>
